In [1]:
list1 = ["Apple", 1,3.5, True, [1,3], {"Ready": "ok"}]

In [2]:
my_list = list()
type(my_list)

list

In [4]:
my_list2 = list('Janu  ary')
my_list2

['J', 'a', 'n', 'u', ' ', ' ', 'a', 'r', 'y']

In [6]:
my_num_list = list((1,2,3,4))
my_num_list

[1, 2, 3, 4]

In [7]:
my_num_list.append(8)
my_num_list

[1, 2, 3, 4, 8]

In [9]:
my_num_list.clear()
my_num_list

[]

In [10]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

In [11]:
list1.append(list2)
list1

[1, 2, [3, 4]]

In [12]:
list1.extend(list2)
list1

[1, 2, [3, 4], 3, 4]

In [13]:
list1 = list2

In [14]:
print(list1)
print(list2)

[3, 4]
[3, 4]

In [15]:
print(id(list1))
print(id(list2))

2859349960064
2859349960064

In [16]:
list1.append(5)
list2

[3, 4, 5]

In [17]:
list1 = []
list2 = [3,4]

In [18]:
list1 = list2.copy()
list1

[3, 4]

In [19]:
list1.insert(0,9)
list1

[9, 3, 4]

In [20]:
list1.pop()

4

In [21]:
list1

[9, 3]

In [22]:
list1.remove(3)

In [23]:
list1

[9]

In [24]:
list2 = list("Ersoy")
list2

['E', 'r', 's', 'o', 'y']

In [25]:
list2.reverse()
list2

['y', 'o', 's', 'r', 'E']

In [26]:
my_list = ["Apple", 1, 3.5, True, [1, 3], {"Ready": "yes"}]
my_list[3]

True

In [27]:
my_list[4][1]

3

In [29]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

In [30]:
list1 += list2

In [31]:
list1

['a', 'b', 'c', 1, 2, 3]

In [32]:
list2

[1, 2, 3]

In [33]:
my_tuple = ('a',)
type(my_tuple)

tuple

In [38]:
tuple1 = ("abc", 34, True, 40, "male",40)
tuple1[4]

'male'

In [35]:
tuple1.count(34)

1

In [37]:
tuple1.index(True)

2

In [40]:
tuple1.index(40,4)

5

In [41]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict['year']

1964

In [43]:
thisdict.get('yea', 'Bu elemani bulamadim!')

'Bu elemani bulamadim!'

In [44]:
thisdict['year'] = 2023
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2023}

In [45]:
thisdict.update({'year': 1964})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [46]:
thisdict.update({'year': 1964, 'color': 'red'})
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [47]:
thisdict.pop('color')
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [48]:
del thisdict

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [51]:
thisdict.keys()

dict_keys(['brand', 'model', 'year'])

In [52]:
thisdict.values()

dict_values(['Ford', 'Mustang', 1964])

In [53]:
thisdict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [55]:
my_set = {1,3,'banana'}
type(my_set)

set

In [56]:
my_new_set = set()
type(my_new_set)

set

In [61]:
thisset = {"apple", "banana", "cherry"}
thisset.add('orange')
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [62]:
thisset.remove("apple")
thisset

{'banana', 'cherry', 'orange'}

In [63]:
thisset.discard('app')
thisset

{'banana', 'cherry', 'orange'}

In [64]:
a = {1, 2, 3, 10, 32, 100}
b = {1, 2, 32}

a.difference(b)

{3, 10, 100}

In [65]:
a.intersection(b)

{1, 2, 32}

In [66]:
a.union(b)

{1, 2, 3, 10, 32, 100}

In [67]:
a | b

{1, 2, 3, 10, 32, 100}

In [68]:
a

{1, 2, 3, 10, 32, 100}

In [69]:
b

{1, 2, 32}