In [61]:
# This line prints a hello world
print('Hello World')  # comment line

Hello World

In [4]:
my_var = 'Hello World!'
my_num = 12

print(type(my_var))
print(type(my_num))

<class 'str'>
<class 'int'>

In [63]:
first_name = 'Mehmet'

In [64]:
greeting = 'Hello Python'
print(greeting)

Hello Python

In [65]:
last_name = 'Din ce r'


len(last_name)

8

In [66]:
index_name = 'Dincer'


index_name[1]
index_name[-2] # tersten index numarasina g√∂re

'e'

In [6]:
slice_name = 'Dincer'

slice_name[1:5:3] # 1'den basliyor. 5'e kadar(dahil degil). 3 atlayarak ilerliyor.

'ie'

In [7]:
second_name = 'Akif'

second_name.upper() # methodlar sadce yazildigi satirda calisir.

'AKIF'

In [69]:
second_name # methodlar orjinali degistirmez.

'Akif'

In [70]:
my_new_var = 'Edip Edirnede pide ye'

my_new_var.lower().count('e')

6

In [71]:
my_new_var.split() # "-" ile de ayrilabilir.

['Edip', 'Edirnede', 'pide', 'ye']

In [72]:
my_new_var.replace('Edirne', 'Izmir')

'Edip Izmirde pide ye'

In [73]:
my_new_var.startswith('e')

False

In [74]:
my_new_var.strip('e') # sadece ilk veya son karakteri siler

'Edip Edirnede pide y'

In [75]:
my_new_var.index('e') # buldugu ilk index'i verir. olmayan bir seyi ararsaniz valueError verir. Ancak find() ile yaparsaniz hata vermez -1 sonucu verir.

10

In [76]:
my_new_var.find('x')

-1

In [77]:
my_int = 15

my_int

15

In [78]:
my_int * 3  # Hesap makinesi olarak kullanilabilir.

45

In [79]:
8 % 2

0

In [80]:
my_pi = 3.14

print(type(my_pi))

<class 'float'>

In [81]:
first_name ='Carli'
age = 16

print(f'My name is {first_name}, I am {age}.')

My name is Carli, I am 16.

In [82]:
isik_acik = True

In [83]:
if isik_acik:
    print('Lutfen isiklari kapatin!')

Lutfen isiklari kapatin!

In [84]:
sayi_1 = 3
sayi_2 = 5

sayi_1 == sayi_2

False

In [85]:
my_string = 'Some characters'
my_str2 = 'stefa'
my_int = 12

In [86]:
print(type(my_int))
my_int = str(my_int)
print(type(my_int))

<class 'int'>
<class 'str'>

In [87]:
my_string + ' ===> ' + my_str2

'Some characters ===> stefa'

In [90]:
True or False

True

In [91]:
not True or False  # not sonucu terse cevirir.

False

In [8]:
# [], {}, 0, None ifadeleri False ifadelerdir.

if []:
    print('this list is empty')  # False oldugu icin print yazdirmadi.